# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env

# Cơ sở dữ liệu SQLite
*.sqlite3

# Môi trường ảo
env/
venv/

# Django media & static files
/media/
staticfiles/

# VS Code
.vscode/


# Tệp hệ điều hành
.DS_Store
Thumbs.db
